
    .navbar{
        background-color: aquamarine;
        text-align: left;
        flex-wrap: nowrap;
        padding: 0%;
        margin: 0%;

    }
    .navbar a{
        font-size: 20px;
        padding-right: 30px;
        margin: 10px;
        text-decoration: none;
    }
    .navbar right.right.nav{
        align-items: right;
        font-size: 20px;
        color: rgb(255,0,0);
    }
    .navbar a:hover{
        color: azure;
    }
    .home{
        display: flex;
    }
    img{
        height: 10cm;
        width: 15cm;
    }