
    .navbar{
        background-color: rgb(84, 140, 93);
        text-align: left;
        flex-wrap: nowrap;
        padding: 0%;
        margin: 0%;

    }
    .navbar a{
        font-size: 20px;
        padding-right: 30px;
        margin: 10px;
        text-decoration: none;
    }
    .navbar.right.nav{
        align-items: right;
        font-size: 20px;
        color: rgb(255,0,0);
    }
    .navbar a:hover{
        color: azure;
    }
    .home{
        display: flex;
    }
    img{
        height: 6cm;
        width: 10cm;
    }
    .content{
        display: inline  ;
        justify-content: center;
        align-items: center;
        width: 50vb;
    
      }
      .btn{
        background-color: #be8fb4;
        color: #94a9d8;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
      }
      .contact-container {
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;
        width: 60%;
        text-align: center;
        margin: 20px auto;
    }
    
    .contact-container h1 {
        font-size: 2rem;
        color: #333;
        margin-bottom: 10px;
    }
    
    .contact-container p {
        font-size: 1rem;
        color: #555;
        margin-bottom: 20px;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }
    
    .form input, .form textarea {
        width: 100%;
        max-width: 400px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 1rem;
    }
    
    .form input:focus, .form textarea:focus {
        outline: none;
        border-color: #0b0b0b;
        box-shadow: 0 0 5px rgba(39, 61, 37, 0.5);
    }
    
    .submit-btn {
        background-color: #8d3d82;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 5PX;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .submit-btn:hover {
        background-color: #8d3d82;
    }
  .footer{
 text-align: center;
 padding: 30px;
 margin: 20px;
 border:20px;
 background-color: rgb(46, 209, 95);
  }
  .footer a{
    text-decoration: none;
  }