
    .navbar{
        background-color: aquamarine;
        text-align: left;
        flex-wrap: nowrap;
        padding: 0%;
        margin: 0%;

    }
    .navbar a{
        font-size: 20px;
        padding-right: 30px;
        margin: 10px;
        text-decoration: none;
    }
    .navbar.right.nav{
        align-items: right;
        font-size: 20px;
        color: rgb(255,0,0);
    }
    .navbar a:hover{
        color: azure;
    }
    .home{
        display: flex;
    }
    img{
        height: 6cm;
        width: 10cm;
    }
 .contact{
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgb(0,0,0,0);
    border-radius: 10px;
    padding: 30px;
    width: 60%;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    align-items: center;
 }
 .h1{
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
 }
 .form input,.from textarea{
    width: 100%;
    max-width: 400%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
 }
 .buttom{
    background-color: orange;
    color: black;
    padding: 10px 20px;
    border: none;
    font-size: 5px;
    cursor: pointer;
    transition: background;
 }